asteval==0.9.30
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
certifi==2023.5.7
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
contourpy @ file:///C:/b/abs_d5rpy288vc/croots/recipe/contourpy_1663827418189/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
debugpy==1.6.0
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
entrypoints==0.4
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fonttools==4.25.0
future==0.18.3
imageio==2.31.1
imageio-ffmpeg==0.4.8
ipykernel==6.13.0
ipympl==0.9.3
ipython @ file:///C:/ci/ipython_1651602003142/work
ipython-genutils==0.2.0
ipywidgets==8.0.6
jedi @ file:///C:/ci/jedi_1644315428305/work
jupyter-client==7.3.2
jupyter-core==4.10.0
jupyterlab-widgets==3.0.7
kiwisolver @ file:///C:/b/abs_88mdhvtahm/croot/kiwisolver_1672387921783/work
lmfit==1.2.1
matplotlib @ file:///C:/b/abs_03z_dj2gty/croot/matplotlib-suite_1670466145509/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
mkl-fft==1.3.1
mkl-random @ file:///C:/ci_310/mkl_random_1643050563308/work
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio==1.5.5
numpy @ file:///C:/b/abs_53f_dbvhzc/croot/numpy_and_numpy_base_1665773185489/work
packaging @ file:///C:/b/abs_cfsup8ur87/croot/packaging_1671697442297/work
pandas==2.0.1
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
plotly==5.14.1
ply==3.11
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
psutil==5.9.3
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pycpd @ file:///C:/Users/moses/Desktop/Moses/Projects/pycpd-master
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyparsing @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_7f_7lba6rl/croots/recipe/pyparsing_1661452540662/work
PyQt5==5.15.7
PyQt5-sip @ file:///C:/Windows/Temp/abs_d7gmd2jg8i/croots/recipe/pyqt-split_1659273064801/work/pyqt_sip
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2023.3
pywin32==304
pyzmq==23.1.0
scipy==1.10.1
simpleicp==2.0.13
sip @ file:///C:/Windows/Temp/abs_b8fxd17m2u/croots/recipe/sip_1659012372737/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
tenacity==8.2.2
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tornado==6.1
tqdm==4.65.0
traitlets @ file:///tmp/build/80754af9/traitlets_1636710298902/work
tzdata==2023.3
uncertainties==3.1.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
widgetsnbextension==4.0.7
wincertstore==0.2
